{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
{% for p in produits %}
   <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
									<td>{{ p.nom | capitalize }}</td>
								</tr>
    
{% endfor %}
{% endblock %}
