{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Conditions D'utilisations{% endblock %}

{% block body %}
    <h1 class="text-center text-primary mt-4 pt-4 display-3 fw-bold">Conditions D'utilisations</h1>
    <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 ">
          <p><h2>Conditions D'utilisations <br></h2><br>
          
Objet du site :<br>
Le site LaspiFou est un site de vente en ligne d'aspirateurs.<br><br>

Acceptation des conditions d'utilisation :<br>
L'utilisation du site implique l'acceptation pleine et entière des présentes conditions d'utilisation.<br><br>

Propriété intellectuelle :<br>
Le contenu du site (textes, images, vidéos, etc.) est la propriété exclusive de LaspiFou ou de ses partenaires.<br>
Toute reproduction ou utilisation de ce contenu sans autorisation préalable est interdite.<br><br>

Commandes :<br>
Les commandes sont passées sur le site. La validation d'une commande implique l'acceptation des présentes conditions d'utilisation, ainsi que des conditions générales de vente.<br><br>

Prix et paiement :<br>
Les prix des produits sont indiqués en euros et s'entendent toutes taxes comprises. Le paiement s'effectue en ligne par carte bancaire. Les paiements sont sécurisés.<br><br>

Livraison :<br>
Les produits commandés sont livrés à l'adresse indiquée lors de la commande. Les délais de livraison sont indiqués sur le site et peuvent varier en fonction du lieu de livraison.<br><br>

Garanties et service après-vente :<br>
Les produits vendus sur le site bénéficient des garanties légales de conformité et des vices cachés. Les clients disposent d'un délai de 14 jours pour exercer leur droit de rétractation. En cas de problème, le service après-vente est accessible via le site.<br><br>

Responsabilité :<br>
LaspiFou ne saurait être tenue pour responsable en cas de perturbation du site, de difficultés d'accès au site, d'interruptions ou de pannes du site, de pertes de données ou de virus.<br><br>

Données personnelles :<br>
Les données personnelles collectées sur le site sont destinées à [Nom de l'entreprise] et sont utilisées dans le cadre de la gestion des commandes et de la relation client.<br>
Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant.<br>
Pour exercer ce droit, vous pouvez contacter LaspiFou à l'adresse suivante : 51 Rue Charles de Gaulle - Arras/62000.<br><br>

Modifications des conditions d'utilisation :<br>
LaspiFou se réserve le droit de modifier les présentes conditions d'utilisation à tout moment. Les utilisateurs seront informés de ces modifications via le site.<br><br>

Loi applicable et juridiction compétente :<br>
Le site et les présentes conditions d'utilisation sont soumis à la loi française. En cas de litige, les tribunaux français seront seuls compétents.<br><br>
{% endblock %}