{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Mentions Légales
{% endblock %}

{% block body %}
	<div class='col-10 '>
		<a href="{{path('index')}}">
			<button class="btn ">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-backspace-fill " viewbox="0 0 16 16">
					<path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
				</svg>
			</button>
		</a>
	</div>
	<h1 class="text-center text-primary mt-4 pt-4 display-3 fw-bold">
		Mentions Légales</h1>

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-8 ">
				<p>
					<h2>Mentions légales<br></h2><br>

					Informations sur le site :<br>
					Nom du site : LaspiFou<br>
					Adresse URL : https://s3-4668.nuage-peda.fr/aspirateur/public/
					<br>
					Description : Site de vente en ligne d'aspirateurs<br><br>

					Propriété intellectuelle :<br>
					Le contenu du site (textes, images, vidéos, etc.) est la propriété exclusive de LaspiFou ou de ses partenaires.
					Toute reproduction ou utilisation de ce contenu sans autorisation préalable est interdite.<br><br>

					Données personnelles :<br>
					Les données personnelles collectées sur le site sont destinées à LaspiFou et sont utilisées dans le cadre de la gestion des commandes et de la relation client.<br>
					Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Pour exercer ce droit, vous pouvez contacter LaspiFou à l'adresse suivante : 51 Rue Charles de Gaulle - Arras/62000.<br><br>

					Cookies :<br>
					Le site utilise des cookies pour améliorer votre expérience utilisateur. Vous pouvez les désactiver à tout moment en modifiant les paramètres de votre navigateur.<br><br>

					Conditions générales de vente :<br>
					Les conditions générales de vente sont accessibles sur le site et régissent les relations contractuelles entre LaspiFou et ses clients.<br><br>

					Loi applicable et juridiction compétente :<br>
					Le site et les présentes mentions légales sont soumis à la loi française. En cas de litige, les tribunaux français seront seuls compétents.
					<br><br>

					Informations sur l'éditeur du site :<br>
					Nom de l'entreprise : LaspiFou<br>
					Forme juridique : SAS<br>
					Adresse : 51 Rue Charles de Gaulle - Arras/62000
					<br>
					Téléphone : 06-07-08-09-10<br>
					E-mail : Aubin.Salore@gmail.com<br>
					Responsable de la publication : Aubin Salore<br>
					Hébergement du site : Nuage Pédagogique<br>
					Adresse de l'hébergeur : Rue Emile Breton lgm<br>
					Téléphone de l'hébergeur : 01-02-03-04-05<br><br>    
			    </p>
{% endblock %}

